{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "semi": true,
                "trailingComma": "none",
                "singleQuote": true,
                "printWidth": 80,
                "endOfLine": "auto",
                "tabWidth": 4
            }
        ]
    }
}